:root { 
    --nv-site-bg: #0f1626;
    --nv-text-color: #ffffff;
    --container: 748px;
    --greytext: #999999
    --bodyfontfamily: Sintony;
   
}




@media (min-width: 576px)
{
  :root {
  
   
   }
}

@media (min-width: 767px)
{
    :root {
        --container: 992px;
       
    }
}



@media (min-width: 960px)
{
    :root {
         --container: 1663px;
   
     } 
}



body {
    background-color: var(--nv-site-bg);
    font-size: var(--bodyfontsize);
    color: var(--nv-text-color);
    font-family: var(--bodyfontfamily);
}


*, ::after, ::before {
    box-sizing: border-box;
}

header {
    display: block;
}


.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    max-width: var(--container);
}

.hfg-slot.center {
    justify-content: center;
}

.hfg-slot {
    display: flex;
    align-items: center;
}   

@media (min-width: 960px)
{
    .builder-item--logo {
    --maxwidth: 120px;
    --padding: 10px 0;
    --margin: 0;
    --textalign: left;
    --justify: flex-start;
}
}

.banner1-container {
    max-width: 100%;
    margin: 0 auto;
  }
  
.banner1-container img {
    width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  .text-center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color : var(--greytext);
  }